@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
@font-face {
  font-family: 'fontello';
  src: url(../fonts/fontello.svg) format('svg'), url(../fonts/fontello.woff) format('woff'), url(../fonts/fontello.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100%;
  flex-direction: column;
}
body {
  background-color: #f8f8f8;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  outline: none;
  box-sizing: border-box;
}
.icon {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}
header {
  background: linear-gradient(#36bbce 40%, transparent);
  text-align: center;
  width: 100%;
}
.head {
  width: 100%;
  text-align: right;
  padding-right: 10vw;
  height: 30px;
  background-color: #10A2B7;
  display: none;
  color: whitesmoke;
}
.head a {
  text-decoration: none;
  color: whitesmoke;
  margin-right: 15px;
}
main {
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
}
.head a:hover {
  color: lightgrey;
}
.logo img {
  height: 100px;
  margin: 0 0 0 45px;
}
.banner {
  margin-top: 5vh;
}
.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.menu > li > a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  height: 50px;
  padding-top: 14px;
  color: #000000;
  border-bottom: 4px #00008b solid;
  border-image: linear-gradient(90deg, transparent, #36bbce 50%, transparent) 1;
}
.menu > li {
  width: 100%;
  height: 50px;
}
.menu > li > a:hover {
  background-color: #10a2b7;
  min-height: 50px;
}
.menu-md {
  padding: 0;
  min-height: 50px;
  border-bottom: 4px #00008b solid;
  border-image: linear-gradient(90deg, transparent, #36bbce 50%, transparent) 1;
}
.menu-md li {
  width: 50%;
  float: left;
  list-style-type: none;
  text-align: center;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.menu-md li a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  height: 50px;
  color: #000000;
  padding-top: 14px;
}
.menu-md li a:hover {
  background-color: #10a2b7;
}
.menu2 {
  display: none;
  margin-top: 150px;
  opacity: 0;
  padding: 0;
}
.menu2 a {
  font-size: 1em;
  text-transform: none;
}
.menu2 li {
  min-height: 35px;
  list-style-type: none;
}
.menu2 li a {
  text-transform: uppercase;
  text-decoration: none;
  height: 35px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}
.menu2 li a:hover {
  background-color: #10a2b7;
}
.greetingtext {
  text-indent: 2.5em;
  margin-top: 20px;
}
.greeting_block {
  margin-top: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  border-top: 4px #00008b solid;
  border-bottom: 4px #00008b solid;
  border-image: linear-gradient(90deg, transparent, #36bbce 50%, transparent) 1;
}
.footer {
  flex: 0 0 auto;
  background-color: #35383c;
  border-style: solid none none none;
  border-color: darkblue;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer a {
  text-transform: uppercase;
  text-decoration: none;
}
.footer p {
  text-align: right;
  color: whitesmoke;
  flex: 1;
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 12px;
  line-height: 15px;
}
.footer .footer_logo {
  opacity: 0.5;
  height: 40px;
  margin-bottom: 15px;
}
.footer .footer_center {
  width: 130px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer .footer_center a i {
  display: block;
  color: black;
  background-color: whitesmoke;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  float: left;
}
.footer .footer_center a i:hover {
  background-color: darkgrey;
}
.footer a:link,
.footer a:visited {
  color: lightyellow;
}
.footer a:active {
  color: gray;
}
.footer > a {
  margin-left: 20px;
  flex: 1;
}
.footer a img {
  transform: scale(1);
}
.footer a img:hover {
  transform: scale(1.05);
  transition: all 200ms;
}
#text_make_feedback {
  margin-top: 20px;
  text-align: center;
}
.longspec_margin,
.specification_margin {
  margin-left: 20px;
}
.content {
  flex: 1 0 auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
#menu_items {
  align-items: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  text-align: center;
  width: 70%;
}
.titles {
  color: black;
  font-size: 18px;
  font-weight: 400;
  background-image: linear-gradient(to right, #36bbce, transparent 50%);
  padding-left: 20px;
}
.shortspec_margin h3 {
  text-align: right;
  background-image: linear-gradient(to left, #36bbce, transparent 50%);
  padding-right: 20px;
}
.item_img {
  margin-bottom: 20px;
}
.item_main_img img,
.item_img img {
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  outline: 2px darkblue solid;
}
.item_main_img img:hover,
.item_img img:hover {
  outline: none;
}
#content_of_items {
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin: 0 auto;
}
.products_title {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  width: 500px;
  border-bottom: 2px darkblue solid;
  border-image: linear-gradient(90deg, transparent, #36bbce 50%, transparent) 1;
}
.description {
  text-align: justify;
  text-indent: 2.5em;
}
.shortspec_margin,
.specification_margin,
.longspec_margin {
  margin-top: 10px;
  height: auto;
  display: inline-block;
  width: 100%;
}
.specification_margin ul {
  color: #484343;
  font-family: "Arial Black", fantasy, Arial;
  font-size: 12px;
  line-height: 25px;
  text-align: left;
}
.longspec_margin p,
.longspec_margin ul {
  color: #484343;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.spcn {
  list-style-image: url(img/mark.png);
}
.feedbackform {
  width: 100%;
  margin: 0 auto;
}
.feedback {
  font-size: 16px;
  padding: 20px;
}
fieldset {
  padding-top: 20px;
  border: 2px darkblue solid;
}
legend {
  font-size: 20px;
  text-align: center;
  width: 30%;
}
.feedback input[type=text],
.feedback input[type=email] {
  display: block;
  width: 300px;
  height: 30px;
  color: darkblue;
  font-weight: 600;
  font-size: 16px;
}
.feedback input[type=email]:focus {
  color: dodgerblue;
  background-color: lightblue;
}
textarea {
  width: 95%;
  height: 15vh;
}
.catimg_box {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 150px;
  width: 220px;
  display: flex;
  align-items: center;
}
.catimg {
  width: 100%;
  max-height: 150px;
  object-fit: scale-down;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.item a {
  text-decoration: none;
  font-size: 16px;
}
.item {
  transform: none;
  transition: 100ms;
  justify-content: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  transition: 300ms;
}
.item .catimg:hover {
  transform: scale(1.15);
  transition: 400ms;
}
.item .catimg:active {
  transform: scale(1);
  transition: 200ms;
}
.page_turn {
  text-align: center;
}
.contats {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 40px;
  border-top: 5px darkblue solid;
  border-bottom: 5px darkblue solid;
  border-image: linear-gradient(90deg, transparent, #36bbce 50%, transparent) 1;
}
.contact_table {
  border-collapse: collapse;
}
.contact_table td {
  width: 220px;
  border: none;
}
.longspec_table {
  border-collapse: collapse;
}
.longspec_table td {
  border: none;
  width: 270px;
}
.longspec_table tr {
  border-top: 2px #E8E8E8 solid;
}
.longspec_table tr:first-child {
  border-top: none;
}
.longspec_table td:nth-child(2)::before {
  content: url(img/mark.png);
  padding-right: 10px;
}
.longspec_table td:nth-child(2) {
  padding-left: 40px;
}
.map script {
  margin-top: 20px;
}
input[type=submit],
input[type=reset] {
  height: 40px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 14px;
}
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #eeeeee;
}
input[type=submit]:active,
input[type=reset]:active {
  background-color: #cccccc;
}
::selection {
  background: lightgray;
}
.in_basket,
input[type=button] {
  height: 30px;
  width: 120px;
  margin: 0 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 14px;
  background-image: linear-gradient(170deg, transparent, #c2000a 40% 60%, transparent);
  transition: 200ms;
}
.in_basket:hover,
input[type=button]:hover {
  background-color: darkred;
  background-image: linear-gradient(170deg, transparent, #c2000a 20% 80%, transparent);
  transition: 200ms;
}
.in_basket:active,
input[type=button]:active {
  transform: scale(0.95);
  transition: 100ms;
}
/*MD*/
@media screen and (min-width: 992px) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  header .logo {
    margin-top: -20px;
    margin-right: 10vw;
  }
  header .menu {
    flex-direction: row;
  }
  header .menu > li {
    width: 150px;
  }
  header .menu > li:nth-child(3) {
    width: 230px;
  }
  header .menu > li a {
    border-bottom: none;
  }
  header .menu i {
    height: 100%;
    margin-left: 10px;
  }
  header .head {
    display: block;
  }
  header .menu-md {
    display: none;
  }
  .menu > li > a:hover {
    border-top: 3px #00008b solid;
    padding-top: 11px;
  }
  .menu > li:hover .menu2 {
    display: block;
    margin: 0;
    opacity: 1;
    transition: 300ms;
    transition-delay: 200ms;
    position: relative;
    z-index: 5;
  }
  .footer {
    height: 80px;
  }
  .footer p {
    font-size: 16px;
    line-height: 25px;
  }
  .footer .footer_center {
    width: auto;
  }
  .footer .footer_center a {
    margin-left: 10px;
    margin-right: 5px;
  }
  .footer .footer_center img {
    margin: 0;
    margin-right: 40px;
  }
  .feedbackform {
    width: 70%;
    margin-left: 100px;
  }
  .products {
    margin: 0 auto;
    text-align: center;
    width: 75%;
  }
  #text_make_feedback {
    margin-top: 20px;
    text-align: left;
  }
  .item_main_img {
    display: block;
    width: 50%;
    float: left;
    margin-left: 10px;
    margin-right: 30px;
  }
  .item_img {
    display: block;
    width: 50%;
    float: right;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
}
.basket_name {
  width: 100%;
  border-bottom: 2px darkblue solid;
  border-image: linear-gradient(90deg, transparent, #36bbce 50%, transparent) 1;
  text-align: center;
  margin: 0;
  font-size: 18px;
}
.cross {
  background: url(../img/cross.png);
  background-size: contain;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 13px;
  top: 7px;
  cursor: pointer;
  z-index: 5;
}
.basket {
  width: 450px;
  max-height: 350px;
  background-color: lightblue;
  border-radius: 20px;
  position: fixed;
  right: 20px;
  top: 70px;
  z-index: 2;
  display: block;
}
.basket-header {
  width: 100%;
}
.basket-items {
  width: 100%;
  border-collapse: collapse;
}
.basket-items_div {
  max-height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.basket-items_block {
  font-size: 15px;
}
.basket-items tr {
  height: 60px;
  width: 100%;
}
.basket-items td {
  height: 70px;
}
.basket-items_number {
  text-align: center;
  min-width: 17px;
  max-width: 17px;
}
.basket-items_id {
  text-transform: uppercase;
  text-align: center;
  min-width: 20px;
  max-width: 20px;
}
.basket-items_img {
  text-align: center;
  min-width: 100px;
  max-width: 100px;
}
.basket-items_name {
  text-align: left;
  min-width: 100px;
  max-width: 100px;
  margin-top: 0 !important;
}
.basket-items_price {
  text-align: center;
  min-width: 80px;
  max-width: 80px;
}
.basket-items_count {
  text-align: center;
  min-width: 50px;
  max-width: 50px;
}
.basket-items_count .basket-items_input_count {
  text-align: right;
  width: 50px;
  height: 30px;
  font-size: 15px;
}
.basket-items_del {
  -moz-transform: rotate(45deg);
  /* Для Firefox */
  -ms-transform: rotate(45deg);
  /* Для IE */
  -webkit-transform: rotate(45deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(45deg);
  /* Для Opera */
  transform: rotate(45deg);
  font-weight: 700;
  font-size: 30px;
  cursor: pointer;
  vertical-align: center;
  text-align: center;
}
.basket-items_last_cell {
  width: 40px;
}
.basket-items-header {
  font-size: 15px;
  padding: 10px 0;
}
.basket-items_reset {
  width: 230px;
  text-align: center;
}
.basket_total_price {
  text-align: left;
}
.basket .basket-items-header {
  height: 50px;
  font-weight: 700;
}
.basket .basket-items-header {
  text-align: center;
}
.in_basket {
  align-self: center;
  outline: none !important;
  cursor: pointer;
  border: none;
  box-shadow: none;
}
.btn-cart {
  margin: 5px 0 0 0;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border: none;
  border-radius: 9px;
  color: #ffffff;
  font-size: 20px;
  padding: 11px 34px 10px 34px;
  text-decoration: none;
  cursor: pointer;
}
.btn-cart:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.btn-cart:active {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}
.basket_img {
  max-width: 140px;
  max-height: 120px;
  object-fit: contain;
}
.product-item {
  margin: 20px 40px;
  min-height: 240px;
  width: 180px;
  border: 1px solid black;
  border-radius: 20px;
  background: rgba(156, 156, 156, 0.4);
}
.product-item-h3 {
  margin: 10px 5px;
  max-width: 90%;
  font-size: 17px;
}
.product-item-price {
  display: block;
  margin: 10px 5px 10px 5px;
}
.btn-cart-reset {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
.btn-cart-reset:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.btn-cart-count {
  width: 10px;
  padding: 0 9px 0 2px;
}
.searchline {
  height: 40px;
  border: none;
  border-radius: 10px 0 0 10px;
  margin: 20px 0 0 0;
  padding: 0 0 0 10px;
  font-size: 15px;
}
.searchline_btn {
  height: 40px;
  margin: 20px 0 0 0;
  border: none;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  font-size: 15px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}
.searchline_btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.searchline_btn:active {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
}
